<p>Welcome to <%= title %></p>

<h2><%= wedDate %></h2>

<!-- schedule -->
<table id="schedule">
  <tr>
    <th>time</th>
    <th>event</th>
    <th>description</th>
    <th>buttons</th>
  </tr>

  <% for (let i = 0; i < data.length; i++) { %>
    <tr>
      <td data-id=""><%= data[i].time %></td>
      <td><%= data[i].item %></td>
      <td><%= data[i].description %></td>
      <td><a href="/myschedule/<%= data[i].id %>"><button class="edit" type="button" name="button" id="<%= data[i].id %>">edit</button></a>
      <button class="delete" type="button" name="button" id="<%= data[i].id %>">delete</button></td>
    </tr>
  <% } %>
</table>

<br><br>

<!-- insert form-->
<form action="/myschedule" method="post">
  <div>
    <label for="time">Time</label>
    <input type="time" name="time" id="time" placeholder="new time" required>

    <label for="item">Event</label>
    <input type="text" name="item" id="item" placeholder="new event" required>

    <label for="description">Description</label>
    <input type="text" name="description" id="description" placeholder="new description">

  <button type="submit">add event</button>
</div>

</form>
