<p><%= title %></p>

<% if (typeof wedDate == 'object' && wedDate) { %>
  <h2><%= wedDate %></h2>
<% } %>

<!-- schedule -->
<table id="schedule">
  <tr>
    <th>time</th>
    <th>event</th>
    <th>description</th>
    <th>buttons</th>
  </tr>

  <% for (let i = 0; i < data.length; i++) { %>
      <% if(data[i].time !== 'hide') { %>
  <div class ="row">
    <tr>
    <div class="col">
      <td><%= data[i].time %></td>
    </div>
    <div class="col">
      <td><%= data[i].item %></td>
    </div>
    <div class="col">
      <td><%= data[i].description %></td>
    </div>
    <div class="col">
      <td>
        <a href="/schedule/<%= data[i].id %>/edit"><button class="edit" type="button" name="button" id="<%= data[i].id %>">edit</button></a>
        <button class="delete" type="button" name="button" id="<%= data[i].id %>">delete</button>
      </td>
    </div>
    </tr>
  </div>
    <% } %>
  <% } %>
</table>

<br><br>

<!-- insert form-->
<form action="/schedule" method="post">
  <div>
    <label for="time">Time</label>
    <input type="time" name="time" id="time" required>

    <label for="item">Event</label>
    <input type="text" name="item" id="item" placeholder="event" required>

    <label for="description">Description</label>
    <input type="text" name="description" id="description" placeholder="description">

  <button type="submit">add event</button>
</div>

</form>
